.DS_Store
__pycache__/
.ipynb_checkpoints
jupyter.*
__MACOSX/
.vector_cache/
*.pkl
trained_models/
commands.txt
environment.yml
cilenv
script.sh
job_train.out
checkpoints
job_predict.out
src/twitter-datasets/train*
src/twitter-datasets/test*
src/twitter-datasets/sample*