twitter-datasets/
.DS_Store
__pycache__/
.ipynb_checkpoints
cil.*
jupyter.*
__MACOSX/
wandb/
.vector_cache/
*.pkl
trained_models/
out/
predictions/
commands.txt
environment.yml
cilenv
script.sh
job_train.out
checkpoints